// ** BREAKPOINTS ** //
$brkpnt--tablet: 1280px;

// ** VARIABLES ** //
:root {
  --color--border: #bdbdbd;
  --color--background: #f9f9f9;
  --color--text: #333333;
  --color--link: #555555;
  --color--code: orangered;
  --color--code-border: #ccc;
  --color--code-bg: #fff;
  --theme: "🌔"
}

[data-theme="dark"] {
  --color--border: #424242;
  --color--background: #242424;
  --color--text: #d7d7d7;
  --color--link: #d280f0;
  --color--code: pink;
  --color--code-border: #595252;
  --color--code-bg: #484341;
  --color--link-active: #ffdd8c;
  --color--link-hover: rgb(140, 90, 249);
  --theme: "🌒"
}

// ** MIXINS ** //

@mixin display--flex($direction: 0) {
  display: flex;

  @if $direction  !=0 {
    flex-direction: $direction;
  }
}

@mixin flex($size) {
  flex: $size;
}

@mixin txt--center {
  text-align: center;
}

// ** STYLES ** //

* {
  transition: color .2s ease-in, background-color .2s ease-in, border-color .2s ease-in;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  @include display--flex($direction: row);
  font-family: Microsoft yahei, sans-serif;
  background-color: var(--color--background);
  color: var(--color--text);
  text-rendering: optimizeSpeed;
}

nav {
  line-height: 20px;

  a {
    margin: 0 8px;
  }
}

a {
  text-decoration: none;
}

.flex--1 {
  @include flex(1);
}

.flex--2 {
  @include flex(2);
}

.flex--3 {
  @include flex(3);
}

.flex--5 {
  @include flex(5);
}

.flex--6 {
  @include flex(6);
}

.flex--9 {
  @include flex(9);
}

.avatar {
  text-align: right;

  img {
    width: 30px;
    border-radius: 15px;
  }
}

pre {
  padding: 30px;
  overflow-x: scroll;
  font-family: monospace;
  border-radius: 10px;
}

p code,
li code {
  color: var(--color--code);
  border: 1px solid var(--color--code-border);
  padding: 2px;
  border-radius: 3px;
  background-color: var(--color--code-bg);
}

a {
  color: var(--color--link);

  &:hover {
    color: var(--color--link-hover);
  }

  &.active {
    color: var(--color--link-active);
  }

  &.external::after {
    mask-size: cover;
    content: "";
    width: 10px;
    height: 10px;
    margin-left: 4px;
    mask-image: url(/images/external.svg);
    display: inline-flex;
    background-color: var(--color--text);
    transition: background-color .2s ease-in;
  }
}

.sidebar {
  @include txt--center();
  @include flex(3);
  @include display--flex($direction: column);
  max-height: 100vh;
  border-right: 1px solid var(--color--border);
}

.top {
  @include display--flex($direction: row);
  height: 30px;
  padding: 16px 20px;

  .menu {
    @include flex(11);
    height: 20px;
    font-size: 20px;
    font-weight: 50;
    padding-top: 4px;
    text-transform: uppercase;
  }
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 50;
}

.spin {
  animation: rotation 30s infinite linear;
  margin: 30px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-359deg);
  }
}

.theme__toggler {
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: 40px;

  &:after {
    content: var(--theme);
  }
}

.pagination {
  margin: 20px;
  display: flex;
}

.paginator--previous {
  @include flex(2);
  text-align: left;
}

.paginator--next {
  @include flex(2);
  text-align: right;
}

.container--sticky {
  overflow: scroll;
}

.element--sticky {
  position: sticky;
  top: 0;
  background-color: var(--color--background);
  border-bottom: 1px solid var(--color--border);
  z-index: 1;
}

.footer {
  margin: 20px;
  text-align: center;

  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.read--container {
  width: 100%;
  height: 3px;
  z-index: 1;
  top: -1px;
}

.read--bar {
  height: 3px;
  width: 0;
  background-color: #d280f0;
  transition: width 100ms ease;
}

.main {
  @include flex(9);
}

.filler {
  @include flex(3);
}

.content {
  @include display--flex($direction: row);

  .text {
    max-width: 680px;
    padding: 20px 0 50px;
  }
}


.contact__details {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
  margin-right: 8px;

  &::before {
    content: "219 204 024 16+ | ved."
  }

  &::after {
    content: "@llun"
  }
}

@media (max-width: $brkpnt--tablet) {
  body {
    @include display--flex($direction: column);
  }

  .filler {
    @include flex(1);
  }

  .container--sticky {
    overflow: unset;
  }

  .footer {
    display: none;
  }

  .sidebar {
    margin: 30px 0;
  }
}

.print {
  display: none;
}

@media print {
  @page {
    margin: 0 !important;
    size: A4 portrait;
  }

  body {
    padding: 30px !important;
  }

  .print {
    display: block;
  }

  .noprint,
  h1 {
    display: none;
  }

  article {

    p,
    h2,
    h3,
    h4,
    ul {
      margin: 0 !important;
      margin-bottom: 8px !important;
    }

    h2,
    h3,
    h4 {
      margin-top: 6px !important;
      text-align: center;
    }

    p {
      text-align: justify;
    }

    .contact {
      text-align: center;
    }
  }
}
