$background-color: rgb(39, 39, 39);
$text-color: rgb(235, 235, 235);
$border-color: #3b3b3b;
$link-color: #bebebe;
$link-hover-color: #d8e0e9;
$link-active-color: #e0e0e0;
$code-background-color: #2e2e2e;
$code-color: #d14;
$code-border-color: #3a3a3a;
