$background-color: rgb(247, 247, 247);
$text-color: rgb(30, 30, 50);
$border-color: #d4d4d4;
$code-background-color: #f7f7f9;
$code-color: #d14;
$code-border-color: #E3EDF3;
$link-color: #565654;
$link-hover-color: #4786D6;
$link-active-color: #4786D6;
