<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta property="og:title" name="title" content="{% block ogtitle %}{% endblock ogtitle %}" />
  <meta property="og:description" name="title" content="{% block ogdesc %}{% endblock ogdesc %}" />
  <meta property="og:site_name" content="alexogeny.dev" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
  <link rel="short icon" href="{{ get_url(path="images/favicon.png") }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ get_url(path="theme.css") }}">
  <script src="{{ get_url(path="js/theme.js")}}" type="text/javascript"></script>
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <a style="cursor:pointer" id="themeToggler" class='theme__toggler' onclick="toggleTheme()"></a>
  <div class="sidebar">
    <div class="flex--3"></div>
    <div class="flex--2">
      <div>
        <img class="spin" src={{ get_url(path="images/destiny.png" ) }} style="width:127px;" alt="rotating image of a galaxy" />
      </div>
    </div>
    <nav class="flex--1">
      {%- if config.extra.social.github -%}
      <a href="https://github.com/{{ config.extra.social.github }}">🐙</a>
      {%- endif -%}
      {%- if config.extra.social.twitter -%}
      <a href="https://twitter.com/{{ config.extra.social.twitter }}">🐦</a>
      {%- endif -%}
      {% block more_social_link %}
      {% endblock more_social_link %}
    </nav>
    <div class="flex--5"></div>
    <div class="flex--1 footer">
      {% block footer %}
      <span>made with 💕</span>
      {% endblock footer %}
    </div>
  </div>
  <div class="flex--9 container--sticky" id="readScroller">
    <div class="top element--sticky">
      <nav class="menu">
        <a {% if current_path=="/" or current_path is starting_with("/page/") %}class="active" {% endif %}
          href="{{ get_url(path="@/_index.md") }}">{{ trans(key="home") }}</a>
        <a {% if current_path is starting_with("/about") %}class="active" {% endif %} href="{{ get_url(path="@/about/_index.md") }}">{{ trans(key="about") }}</a>
        {%- if config.extra.show.tags -%}
        <a {% if current_path is starting_with("/tags") %}class="active" {% endif %} href="{{ get_url(path="@/_index.md") }}tags">{{ trans(key="tags") }}</a>
        {%- endif -%}
        <a {% if current_path is starting_with("/archive") %}class="active" {% endif %} href="{{ get_url(path="@/archive/_index.md") }}">{{ trans(key="archive") }}</a>
        {%- if config.extra.show.links -%}
        <a {% if current_path is starting_with("/links") %}class="active" {% endif %} href="{{ get_url(path="@/links/_index.md") }}">{{ trans(key="links") }}</a>
        {%- endif -%}
      </nav>
      <nav class="flex--1 avatar">
        <img src="{{ get_url(path="images/avatar.jpg") }}" alt="avatar of the site owner" />
      </nav>
    </div>
      {% block readingbar %}{% endblock readingbar %}
    <div class="main">
      <div class="content">
        <div class="filler"></div>
        <div class="flex--6 text" style="overflow-y:scroll">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="filler"></div>
      </div>
    </div>
  </div>
</body>

</html>
